body {
    font-family: "Arial Black", Gadget, sans-serif;
    color: black;
    font-size: 16px;
    text-align: center;
}

p {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

a:link, a:visited {
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

a:hover, a:active {
    background-color: white;
    color: black;
    cursor: pointer;
}

@media only screen
and (min-width: 300px) {
    p {
        width: 300px;
    }
}

@media only screen
and (min-width: 768px) {
    p {
        width: 750px;
    }
}

ul.navibar {
    position: static;
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    padding-top: 0.3%;
}

li.navibar_item a{
    padding: 8px;
    background-color: white;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
}

li.navibar_item {
    float: left;
    position: relative;
    left: 1%;
}

li.navibar_item a:hover {
    color: red
}