body {
    font-family: "Arial Black", Gadget, sans-serif;
    color: black;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

.index {
    font-size: 40px;
}

.index a{
	text-align: left;
    text-decoration: none;
    color: black;
    display:inline-block;
    margin-right: 80%
}

ul.navibar {
	position: static;
	list-style-type: none;
	overflow: hidden;
    background-color: white;
    padding-top: 0.3%;
}

li.navibar_item a{
	padding: 8px;
	background-color: white;
	color: black;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
}

li.navibar_item {
	float: left;
	position: relative;
	left: 1%;
}

li.navibar_item a:hover {
	color: red
}

li.navibar_button {
    float: right;
    position: relative;
    right: 1%;
    margin-bottom: 5px;
}

#signinBtn{
    font-size: 18px;
    text-decoration: none;
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
}

#signinBtn:hover{
    background-color: white;
    color:black;
}

#signoutBtn{
    font-size: 18px;
    text-decoration: none;
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}

#signoutBtn:hover{
    background-color: white;
    color:black;
}

#about {
	color: black;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
}

#about:hover{
    text-decoration: underline;
}

#chart_div {
    width: 950px;
    height: 650px;
    border: 50px;
    padding: 50px;
    margin: auto;
}

.up {
    color: red;
    font-weight: bold;
}

.down {
    color: blue;
    font-weight: bold;
}

.res {
    margin: 0 25px 30px;
}

#results img {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
}

#searchBar {
    font-family: "Arial Black", Gadget, sans-serif;
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    width: 90%;
    background: white;
    margin-bottom: 10px;
}

#platform {
    font-family: "Arial Black", Gadget, sans-serif;
    padding: 10px;
    font-size: 16px;
    color: white;
    background: black;
    border: 1px solid black;
    width: 90%;
    margin-bottom: 10px;
}

#searchButton {
    font-family: "Arial Black", Gadget, sans-serif;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: black;
    border: 1px solid black;
    width: 90%;
    margin-bottom: 10px;
    cursor: pointer;
}

@media only screen
and (min-width: 300px) {

    #searchBar {
        width: 90%;
    }

    #platform {
        width: 45%;
    }

    #searchButton {
        width: 45%;
    }

    .res {
        width: 300px;
        height: auto;
        border: 10px;
        padding: 10px;
        margin: auto;
    }

    #chart_div {
        width: 300px;
        height: auto;
        border: 10px;
        padding: 10px;
        margin: auto;
    }

    li.navibar_item a{
        padding: 4px;
    }
}

@media only screen
and (min-width: 768px) {

    #searchBar {
        width: 60%;
    }

    #platform {
        width: 15%;
    }

    #searchButton {
        width: 15%;
    }

    .res {
        width: 700px;
        height: auto;
        border: 10px;
        padding: 10px;
        margin: auto;
    }

    #chart_div {
        width: 740px;
        height: auto;
        border: 10px;
        padding: 10px;
        margin: auto;
    }

    li.navibar_item {
        font-size: 24px;
        left: 1%;
    }

    #signinBtn{
        font-size: 24px;
    }
    
    #signoutBtn{
        font-size: 24px;
    }

    li.navibar_item a{
        padding: 8px;
        font-size: 24px;
    }
}