body {
    font-family: "Arial Black", Gadget, sans-serif;
    color: black;
    font-size: 14px;
    text-align: center;
}

div.search input {
    font-family: "Arial Black", Gadget, sans-serif;
    padding: 10px;
    font-size: 14px;
    border: 1px solid black;
    width: 60%;
    background: white;
}

div.search select {
    font-family: "Arial Black", Gadget, sans-serif;
    padding: 10px;
    font-size: 14px;
    color: white;
    background: black;
    border: 1px solid black;
    width: 15%;
}

div.search button {
    font-family: "Arial Black", Gadget, sans-serif;
    padding: 10px;
    font-size: 14px;
    color: white;
    background: black;
    border: 1px solid black;
    border-left: none;
    width: 15%;
    cursor: pointer;
}